
.form-border {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    background-color: rgba(0, 47, 59, 0.788);
    padding: 20px 0 20px 0;
}

form {
    width: 70%;
    font-family: Boldonse, system-ui;
    font-size: smaller;
    font-weight: 5px;
}

form input::placeholder {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form textarea {
    width: 100%;
    height: 100px;
}

form textarea::placeholder {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body{
   
    background-image: linear-gradient(to right,#6e0b0b, #000000, rgb(61, 61, 61));
    overflow-y: hidden;
    filter:saturate(.8);
}
button a{
    color: white;
    text-decoration: none;
}